<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.orf" xmlns="http://www.w3.org/1999/html">
<!-- hi.html 파일에서 사용하겠다는거다.-->

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>hihi</h2>
    <p th:text="${name}">코딩온</p>
    <p th:text="${key}">새싹</p>
    <!-- th:text 를 사용하면 태그안의 전달받은 값에 따라 표현하고자 하는 사용하는 문법-->
    <p th:text="${name2}"></p>
    <p th:utext="${name2}"></p>
    <!-- th:text = 전달받은 값을 문자열로 보여주는 속성-->
    <!-- th:utext = 전달받은 값을 html로 보여주는 속성-->

    <br />
    <h6>th:value = 요소의 value 값을 설정할 때 사용되는 속성 </h6>
    <input type="text" th:value="${name}"/>
    <button th:value="${name}">버튼 클릭 ㄱㄱ</button>

    <h5>th:with = 템플릿 내에서 변수를 지정해 사용할 때 이용</h5>
    <div th:with="temp=${name}" th:text="${temp}"></div>
    <div th:switch="${name}" >
        <p th:case="'코딩온'">codingOn</p>
        <p th:case="'새싹'">새싹이다</p>
        <p th:case="*">둘다 아님..</p>
    </div>

    <h5>th:if = 조건문 (elseif 가 없어요)</h5>
    <p th:if="${name}== '코딩온'" th:text="${name}"></p>
    <!-- name으로 넘어온 값이 코딩온이라면 그 name값을 보여줘라-->
    <p th:unless="${name} == '코딩온'" th:text="'홍길동'"></p>
    <!-- if else 를 처리하고 싶으면 th:if 와 th:unless는 동일한 조건을 가져야 한다.   -->
    </br>

    <h5>th:each 반복문!!!</h5>
    <ul>
        <li th:each="item:${item1}">
            <span th:text="${item}"></span>
        </li>
    </ul>
</body>
</html>